.picture {
  display: block;
  width: 100%;
  height: 100%;
}
.img {
  width: 100%;
  height: 100%;
  background: var(--sand-200);
}
.cover { object-fit: cover; }
.contain { object-fit: contain; }
.rounded { border-radius: var(--radius); }
